# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Pastas de Build do Electron / Instaladores
dist-electron/
dist_installer/
dist/
release/
out/

# Executáveis e Binários (por precaução)
*.exe
*.dll
*.pak
*.dat
*.blockmap
.vercel
